#str {
    /* width: 100%; */
    /* height: auto; */
    font-family: 'Staatliches', cursive;
    /* font-size: 40px; */
    /* margin: auto; */
    /* color: #fff; */
    /* background-color: rgba(255, 255, 255, 0.488);  */
    /* background: linear-gradient(90deg, rgba(246, 127, 2, 0.9570203081232493) 0%, rgba(253, 177, 29, 1) 50%, rgba(255, 225, 77, 1) 100%); */
    /* background-color: white; */
    color: black;
    font-weight: bold;
    /* background: #000; */
    display: inline-block;
    padding-left: 200px;
    /* text-align: center; */
    font-size: 50px;     
    /* background-color: rgba(248, 169, 21, 0.658); */
    /* border: 4px solid rgb(0, 0, 0); */
}